@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000;
  font-size: 14px;
}

th {
  cursor: pointer;
  min-width: 130px;
}

h2 {
  @apply flex-row-center text-lg font-semibold h-10 w-fit;
}

.gradient-bg {
  animation: gradient 20s ease infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.icons-wrapper {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.icons {
  height: 20px;
  width: 20px;
}

.button-primary {
  @apply bg-calm rounded-lg text-white outline-none transition delay-75 hover:bg-calm-700 min-h-10;
}

.button-outline {
  @apply bg-white border rounded-lg shadow-sm transition hover:border-calm-700;
}

.input-outline {
  @apply bg-white border rounded-lg shadow-sm outline-none transition focus:border-calm-600 min-h-10;
}

.short-sum-box {
  @apply bg-white border rounded-lg shadow-md flex-row-center transition hover:border-calm-700 h-20 lg:h-32 w-full;
}

.chart-box {
  @apply bg-white border rounded-lg shadow-md flex flex-col gap-4 transition hover:border-calm-700 min-h-[360px] w-full;
}

.custom-file-input {
  @apply bg-white block border rounded-lg shadow-sm text-calm-700 file:cursor-pointer file:rounded-l-lg file:border-0 file:text-sm file:bg-calm-600 file:text-white file:px-2 file:h-10 h-10 w-full;
}

.custom-list-item {
  @apply cursor-pointer rounded-lg transition hover:bg-calm-50;
}
