@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
    --zinc-950: #09090b;
    --text-color: var(--zinc-800);
}

body{
    color: var(--text-color);
}

.gradient-bg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-center{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.border-light{
    border-color: var(--zinc-200);
}

.icons-wrapper{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.icons{
    height: 20px;
    width: 20px;
}