@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-black text-sm;
}

th {
  cursor: pointer;
  min-width: 130px;
}

h2 {
  @apply flex-row-center text-lg font-semibold h-10 w-fit;
}

.gradient-bg {
  animation: gradient 5s ease infinite;
  background: linear-gradient(-45deg, #158c83, #31b9aa, #1eaea0, #66e2d0);
  background-size: 400% 400%;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.icons-wrapper {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.icons {
  height: 20px;
  width: 20px;
}

.button-primary {
  @apply bg-keppel rounded-lg text-white outline-none transition delay-75 hover:bg-keppel-600;
}

.button-outline {
  @apply bg-white border rounded-lg shadow-sm transition hover:shadow-md hover:text-keppel-700;
}

.input-outline {
  @apply bg-white border rounded-lg shadow-sm outline-none transition focus:border-keppel-600 min-h-10;
}

.short-sum-box {
  @apply bg-white border rounded-lg shadow-md flex-row-center transition hover:border-keppel-600 h-20 lg:h-32 w-full;
}

.chart-box {
  @apply bg-white border rounded-lg shadow-md flex flex-col gap-4 transition hover:border-keppel-600 min-h-[360px] w-full;
}

.custom-file-input {
  @apply bg-white block border rounded-lg shadow-sm text-keppel-700 file:cursor-pointer file:rounded-l-lg file:border-0 file:text-sm file:bg-keppel-600 file:text-white file:px-2 file:h-10 h-10 w-full;
}

.custom-list-item {
  @apply cursor-pointer rounded-lg transition hover:bg-mercury;
}

.custom-hover-fx {
  @apply shadow-sm transition hover:shadow-md hover:text-keppel-700;
}
